<div class="clarity-wrapper plant-details-container">
    <div class="image-container">
        <img src="https://images.pexels.com/photos/1048035/pexels-photo-1048035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    </div>
    <div class="details-container">
        <div class="plant-header">
            Plant name
        </div>
        <div class="plant-body">
            <div class="plant-detail scientific-name">
                <span><clr-icon shape="dna"></clr-icon> Scientific name: </span><span>Name</span>
            </div>
            <div class="plant-detail shade-tolerance">
                <span><clr-icon shape="sun"></clr-icon> Shade tolerance: </span><span>Shade tolerance</span>
            </div>
            <div class="plant-detail shade-tolerance">
                <span><clr-icon shape="sun"></clr-icon> Shade tolerance: </span><span>Shade tolerance</span>
            </div>
        </div>
    </div>
</div>