<div class="clarity-wrapper">
    <div class="card">
        <div class="card-img">
            <img [src]="plantImageSrc$ | async">
        </div>
        <div class="card-block">
            <h4 class="card-title">Plant name</h4>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aut. Nihil nemo, necessitatibus earum.
            </p>
        </div>
        <div class="card-footer">
            <a class="btn btn-sm btn-link">View details</a>
        </div>
    </div>
</div>