.plant-card-container {
    width: 30rem;
    padding: 1rem;
}

.card-title {
    font-weight: bold;
    text-transform: capitalize;
}

.card-img {
    display: flex;
    justify-content: center;
}

.card-img img {
    width: 20rem;
    height: 20rem;
}