.home-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.home-title {
    font-size: 50px;
    padding-bottom: 2rem;
    font-weight: bold;
    color: black;
    font-family: 'Montserrat', serif;
}

.home-description {
    padding: 0 10rem 3rem 10rem;
}