<div class="clarity-wrapper home-container">
    <div class="home-title">Welcome to Planty! 🌱✨</div>
    <p class="home-description">
        Build your personalized garden with Planty! Start with searching for plants local to your area and we'll provide you
      with all the details to take care of your plants! Let's build a greener world together <3
    </p>
    <div class=buttons-container>
        <button class="btn btn-primary" routerLink="../recommendation">
            Get Recommendations
        </button>
        <button class="btn btn-outline" routerLink="../identify">
                Identify plants
        </button>
    </div>
</div>