<link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />
<div class="clarity-wrapper">
  <header class="header header-6">
    <div class="branding">
      <span class="title">Plant App</span>
    </div>
    <div class="header-nav">
      <a class="nav-link"><span class="nav-text" routerLink="home">Home</span></a>
      <a class="nav-link"><span class="nav-text" routerLink="recommendation">Recommendation</span></a>
      <a class="nav-link"><span class="nav-text" routerLink="identify">Identify Plants</span></a>
    </div>
    <div class="header-actions">
      <a class="nav-link nav-icon" routerLink="garden" aria-label="garden">
        <clr-icon shape="sun"></clr-icon>
      </a>
      <a class="nav-link nav-icon" routerLink="favorites" aria-label="favorites">
        <clr-icon shape="heart"></clr-icon>
      </a>
    </div>
  </header>
</div>
<router-outlet></router-outlet>