.header {
    background-color: #b6d9bc;
}

.branding-container.logo-container {
  display: flex;
}

.header .branding-container .title {
  font-size: x-large;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.logo-container {
  background-image: url("planty.png");
  background-size: 0;
}
